button{
    cursor: pointer;
}

.timer{
    display: flex;
    font-weight: 700;
    font-size: 25px;
    margin-left: 20px;
}

.button{
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

#start, #stop, #reset{
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #EDEDED;
}